<ccm>
  <analyze>
    <folder>..\</folder>
  </analyze>
  <exclude>
    <folder>_CodeMetricConf</folder>
  </exclude>
  <recursive>yes</recursive>
  <outputter>xml</outputter>
  <numMetrics>10</numMetrics>
  <suppressMethodSignatures>yes</suppressMethodSignatures>
  <fileExtensions>
    <fileExtension>.ccc</fileExtension>
  </fileExtensions>
</ccm>
